{% extends "base.html" %}
{% block content %}
{% if session['state'] == "login_failed" %}
<p>ログインに失敗しました</p>
{% endif %}
<form action="/login" method="post" class="form-inline">
    <label for="mail">メールアドレス</label>
    <input type="text" class="form-control" id="mail" name="mail" placeholder="メールアドレス">
    <br>
    <label for="passwd">パスワード</label>
    <input type="password" class="form-control" id="passwd" name="passwd" placeholder="パスワード">
    <button type="submit" class="btn btn-primary">ログイン</button>
</form>
{% endblock %}
